@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&family=Roboto&family=Ubuntu:ital,wght@0,300;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  color: white;
  /* background: #ecf0f3; */
}


/* Navigation  section */

header {
  position: fixed;
  /* background-color: #fff; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #ff8453f7; */
  background-color:#271b29;
  height: 70px;
  box-shadow: 0px 0px 1px #e9d7d7;
}
nav h2 {
  cursor: pointer;
  font-size: 35px;
}
nav h2 i {
  margin-left: 22px;
  color: green;
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 6px;
}
nav ul li a:after {
  content: "";
  width: 0%;
  height: 2px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: all 0.9s;
}
nav ul li a:hover::after {
  width: 100%;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 22px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}



/* Home section */

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 710px;
  /* background-color: #ff9064; */
  background-image: url(./images/bg3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
.leftColumn h1 {
  font-size: 50px;
  cursor: pointer;
}
.leftColumn .cv-btn {
  margin: 20px 0px;
}
.leftColumn .btn {
  background-color: #3498db;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 9px 12px;
  outline: none;
  text-decoration: none;
  color: #fff;
  transition: all 1s;
}
.leftColumn .btn:hover {
  background-color: #1076ba;
}
.leftColumn h1 span {
  color: rgba(197, 251, 2, 0.759);
}
.leftColumn span i {
  font-size: 27px;
  margin-right: 22px;
  margin-top: 16px;
  color: beige;
  cursor: pointer;
  transition: all 0.8s;
}
.leftColumn span i:hover {
  transform: scale(1.3);
}
.name {
  font-size: 65px;
}
#element {
  font-size: 50px;
}

.rightColumn img {
  width: 500px;
}



/*About me section*/

.about_section {
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(to bottom,#f1b3bb, #f5ebec);
}
.about_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about_section .about_header {
  text-align: center;
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 700;
  color: #3c3e41;
}
.about_section .right_part img {
  width: 314px;
  border-radius: 177px;
  height: 326px;
  object-fit: cover;
}
.left_part {
  width: 580px;
}
.left_part p {
  color: #3c3e41;
  font-size: 19px;
}
.left_part .hello{
    font-size: 18px;
}
.left_part h1 {
  font-size: 60px;
  color: rgba(74, 74, 119, 0.714);
}



/* Skills section */

.skillsection {
  width: 80%;
  margin: auto;
  padding-top: 50px;
}
.skillsection .row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.image img {
  width: 131px;
}
.skillheader {
  text-align: center;
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  color: #3c3e41;
}
ul li {
  color: black;
  font-weight: 300;
}
ul li i {
  margin-right: 16px;
}
.row h2 {
  color: #3c3e41;
  font-weight: 400;
}
.skillsection .column {
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
  padding: 30px 60px;
  border-radius: 20px;
  background: linear-gradient(145deg, #dce2e5, #f6f0f0);
  transition: all 0.8s;
  cursor: pointer;
}
.skillsection .column:hover {
  transform: scale(1.08);
}



/* Project Section */

.projectSection {
  width: 80%;
  margin: auto;
  padding-top: 50px;
}
.projectheader {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  color: #3c3e41;
}
.projectName h3 {
  font-size: 22px;
  color: #3c3e41;
}
.projectDesc p {
  font-size: 15px;
  margin-bottom: 8px;
  font-weight: 300;
}
.projectsRow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.box {
  padding: 18px;
  background: linear-gradient(145deg, #dce2e5, #f6f0f0);
  margin: 20px 20px;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
  border-radius: 20px;
  color: black;
  width: 30%;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.8s;
}
.box:hover {
  transform: translateY(-17px);
}
.sourceCode a {
  text-decoration: none;
  padding: 9px 12px;
  display: inline-block;
  background-color: #a881af;
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}

.sourceCode a:hover {
  background-color: #80669d;
}



/*Education Section*/

.education {
  width: 77%;
  margin: auto;
  padding: 40px 0px;
}
.education h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  color: #3c3e41;
  padding-bottom: 40px;
}
.education_section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.flex {
  background: linear-gradient(145deg, #dde2e5, #f7f1f1);
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
  padding: 20px 15px;
}
.education_section h2,
p {
  color: #3c3e41;
  line-height: 1.5;
}



/*Styling Contact section*/

.contact_info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#dee3e7;
    padding: 30px 0px 20px 0px;
}
.contact_info h3{
    color: #3c3e41;
    font-size: 24px;
    font-weight: 400;
}
.contact_details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact_box p{
    margin-right: 15px;
}
.contact_info .message p{
    font-size: 18px;
}
.contact_info .message p span{
    color: #1076ba;
}
.portfolio{
  overflow: auto;
}


/* Media queries for responsive design */
@media(max-width:1280px){
  .projectSection{
    width: 100%;
  }
  .projectSection .box{
    width: 25%;
  }
  .projectsRow{
    justify-content: center;
  }
  .skillsection{
    width: 100%;
  }

}
@media(max-width:992px){
  nav h2{
    font-size: 27px;
  }
  nav ul li a{
    font-size: 14px;
  }
  .leftColumn h1{
    font-size: 31px;
  }
  .leftColumn h1 span{
    font-size: 45px;
  }
  .rightColumn img{
    width: 290px;
  }
  .leftColumn .btn{
    font-size: 15px;
  }
  .leftColumn span i{
    font-size: 22px;
  }
  section{
    height: 70vh;
  }
  .about_section .about_header{
    font-size: 38px;
  }
  .left_part .hello {
    font-size: 14px;
  }
  .left_part h1{
    font-size: 40px;
  }
  .left_part p{
    font-size: 15px;
  }
  .about_section .right_part img{
    width: 260px;
    height: 260px;
  }
  .skillheader{
    font-size: 40px;
  }
  .projectSection{
    width: 100%;
  }
  
  .skillsection .column{
    width: 225px;
  }
  .skillsection .column{
    font-size: 15px;
  }
  .projectSection .box{
    width: 25%;
  }
  .projectsRow{
    justify-content: center;
  }
  .skillsection{
    width: 100%;
  }

}
